footer {
    width: 100%;
    height: 200px;
    background-color: var(--color-active);
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer div p {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Audiowide', sans-serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 
                 0 0 20px #fff, 0 0 40px #d000ff, 
                 0 0 80px #d000ff, 0 0 90px #d000ff, 
                 0 0 100px #d000ff, 0 0 150px #d000ff;
}