.header {
    width: 100%;
    height: auto;
    background-color: rgb(91, 5, 212);
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 0 90px 0;
    box-shadow: -10px 10px 40px rgb(47, 0, 255);
    border-left: 4px solid rgb(59, 3, 122);
    z-index: 2;
    position: sticky;
    top: 0;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    display: inline;
    width: 250px;
    height: auto;
}

.searchBar {
    width: 520px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.958);
    border-radius: 0 20px 0 20px;
    border-bottom: 3px solid rgb(27, 0, 57);
    display: flex;
    justify-content: end;
}

.searchBar input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background-color: transparent;
    border-radius: 0 20px 0 20px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    font-family: 'audiowide', sans-serif;
    color: rgb(40, 2, 86);
    outline: none;
}

.searchBar input::placeholder {
    color: rgb(40, 2, 86);
}

.searchBar input:focus {
    border: none;
    outline: none;
}

.searchBar:focus-within {
    width: 850px;
    height: 50px;
    margin-top: 5px;
    animation-name: searchBarExpand;
    animation-duration: 1s;
}

.searchBar:not(:focus-within) {
    animation-name: searchBarShrink;
    animation-duration: 1s;
}

.searchBar img {
    width: 60px;
    height: auto;
    margin: -20px 10px 0 0;
}

.right {
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 20px 30px 0 0;
}

.right img {
    width: 55px;
    height: auto;
    margin: -20px 10px 0 0;
}

.crs {
    cursor: url('../assets/cursor.png'), pointer;
}

@keyframes searchBarExpand {
    0% {
        width: 520px;
        height: 40px;
        margin-top: 0;
    }
    100% {
        width: 850px;
        height: 50px;
        margin-top: 5px;
        border-bottom-right-radius: 10px;
    }
}

@keyframes searchBarShrink {
    0% {
        width: 850px;
        height: 50px;
        margin-top: 5px;
        
    }
    100% {
        width: 520px;
        height: 40px;
        margin-top: 0;
    }
}