.card {
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: #ede7f2;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.card h1 {
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #0c0090 1px 1px, #0c0090 2px 2px, #0c0090 3px 3px, #0c0090 4px 4px, #0c0090 5px 5px;
}

.card p {
    font-family: 'Audiowide', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: #0c0090 1px 1px, #0c0090 2px 2px, #0c0090 3px 3px, #0c0090 4px 4px, #0c0090 5px 5px;
}

.card div img:last-child {
    width: 40px;
    height: auto;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
}

.card div img:last-child:hover {
    transform: scale(1.3);
    box-shadow: 0 0 30px 7px rgba(106, 83, 237, 0.807);
}