.main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    position: relative;
}

.tech-logos {
    width: 100%;
    height: auto;
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    animation: techlogos 20s linear infinite;
    overflow-x: hidden;
    padding: 10px;
}

.tech-logos:hover {
    animation-play-state: paused;
}

.tech-logos img {
    width: 100px;
    height: auto;
}

@keyframes techlogos {
    to {
        transform: translateX(calc(-100% - 20px));
    }
}